@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root{
    /* ligh-Theme */
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

    /* dark-theme */
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlueD: hsl(235, 24%, 19%);
    --LightGrayishBlueD: hsl(234, 39%, 85%);
    --LightGrayishBlueD2: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlueD: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    transition: 200ms ease-in-out;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    width: 100%;
}